LauncherLibrary/.vs
LauncherLibrary/CmlLib/bin
LauncherLibrary/CmlLib/obj
LauncherLibrary/CmlLibSample/bin
LauncherLibrary/CmlLibSample/obj
Sample/.vs
Sample/CmlServerLauncherSample/bin
Sample/CmlServerLauncherSample/obj
goorm.manifest